.pagination {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #565656;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #000000;
    color: #ffffff;
}

.pagination .active {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}